@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");

:root {
  --rosa: #e6007e;
  --branco: #ffff;
  --preto: #231e1e;
  --roxo-cinza: #4c5270;
  --branco-cinza: #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--rosa);
}

header {
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

}
.header-container { 
  background-color: var(--branco);
    color: var(--rosa);
    display: flex;
    box-shadow: 0 1px 6px 0 var(--preto);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    white-space: nowrap;
}

#headerTitulo{
  font-family: "Inria serif", serif;
  font-size: 40px;
  font-weight: 400;
}
.ContainerLogo {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ContainerBusca {
  border-radius: 15px;
  width: 500px;
  background-color: var(--rosa);
  border: none;
  height: 30px;
  margin-right: 40px;
  float: left;
  margin-left: 275px;

  &:hover {
    color: var(--branco);
    outline: none;
  }
}

.linkHeader{
    text-decoration: none;
    color: var(--rosa);
}
.logo {
  width: 50px;
  height: 80%;

}

.traco {
  width: 46px;
  height: 20px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
}

ul{
  list-style-type: none;
}

ul li.item-menu a{
  color: var(--branco);
  background-color: var(--roxo-cinza);
  width: 169px;
  border-radius: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 4px;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
  gap: 5px;
  justify-content: center;

}

ul li.item-menu{
  transition: .2s;
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-left: 39px;
}

ul li.item-menu a:hover{
  background-color: var(--rosa);
}

.linktxt{
  color: var(--branco);
  font-family: 'Inria Serif', serif;
  font-size: 20px;
  font-weight: 400;

}
.item-menu:hover  .linktxt {
  color: var(--branco);
}

.menulateral{
  width: 0px;
  height: 100vh;
  background-color: var(--branco-cinza);
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: .2s;
  z-index: 500;
}

#iconeUsuarioNav{
  height: 55px;
  position: relative;
  left: 19px;
}
.menulateral:hover {
  width: 330px;
  height: 702px;
}


.traco:hover +.menulateral{
  width: 330px;
} 


footer {
  background-color: var(--roxo-cinza);
  height: 20px;
}

.popup {
  background-color: var(--roxo-cinza);
  width: 1104px;
  height: 559px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  padding: 20px;
}

.popupTitulo {
    color: var(--branco);
    font-family: "Inria Serif", serif;
    font-size: 40px;
    font-weight: 400;
    /* padding: 0px; */
    position: relative;
    bottom: 43px;
}
.popupTexto {
  font-family: "Inria Serif", serif;
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  color: var(--branco);
  padding: 33px;
  margin: 0;
}

section {
  padding-top: 120px;
}

.textosPopup{
    padding: 38px;
    /* margin-bottom: 258px; */
    /* padding-bottom: 70px; */
    /* margin: 0; */
    position: relative;
    bottom: 119px;
}


